<h3><%= rp %></h3>
<h4>migrated: <%= migrated %></h4>
<br>
        

            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      rpx load file
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
                    <div id="rpx-load-file" class="accordion-inner well">
                        rpx load file goes here
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      s3 load file
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div id="s3-load-file" class="accordion-inner well">
                      s3 load file goes here
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                      diff
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse">
                    <div id="diff" class="accordion-inner well">
                      diff goes here
                    </div>
                  </div>
                </div>
              </div>


        <div class="alert alert-warning">
          <h4 class="alert-heading">under construction</h4>
            functionality not final
        </div>
